{% extends "base.html" %}
{{ super() }}
{% block content %}

<h2>Delete this entry?</h2>
<h3>{{movie.name}}</h3>
<br>
<img class ="text center" src="{{movie.picture}}" width="270" height="340">
<br>
<br>
<h4>Description:</h4> {{movie.description}}
<br>
<br>
Category: {{genre.name}}
<br>
<br>
<form class="form-inline  action="{{url_for('delete_movie', genre_id=genre.id, movie_id=movie.id)}}" method="POST">
    <input class="form-control" type="hidden" name="delete" value="yes">
    <input class="form-control" type="submit" value="Delete">
<a href="{{url_for('show_movie', genre_id=genre.id, movie_id=movie.id)}}">Cancel</a>
<br>


{% endblock %}
