{% extends "main.html" %}
{{ super() }}
{% block body %}

<h2>{{movie.name}}</h2>
<img class ="text center" src="{{movie.picture}}" width="270" height="340">
<h4>Genre:</h4>  {{genre.name}}
<h4>Description:</h4> {{movie.description}}
<br>
<br>
{% if session['user_id'] == movie.user_id %}
<form class="form-inline">
<button class="form-control"><a href="{{url_for('edit_movie', genre_id=genre.id, movie_id=movie.id)}}">Edit</a></button>

<button class="form-control"><a href="{{url_for('delete_movie', genre_id=genre.id, movie_id=movie.id)}}">Delete</a></button>
</form>
{% endif %}

{% endblock %}
